node_modules
content/panorama/layout
content/panorama/scripts
game/resource
publish
~$*.xlsx
custom_game_whitelist.txt
panorama_debugger.cfg
game/resource/word_filter_cache_1.dat
*.bin
*.pyc
*.vcss_c
*.vxml_c
*.vtex_c
*.vjs_c
*.vpcf_c
*.vmat_c
*.vpk
*.vmdl_c
*.vmesh_c
*.vsndevts_c
*.vsnd_c
*.lua

localization/*/inline_localization.txt
!scripts/**/*.*