# make npm install faster
# https://github.com/lmk123/blog/issues/28

# set global npm config registry to use the npmmirror.com registry
# npm config set registry https://registry.npmmirror.com

sass_binary_site=https://npmmirror.com/mirrors/node-sass
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
electron_mirror=https://npmmirror.com/mirrors/electron/
registry=https://registry.npmmirror.com
