@import "../utils/draggable_window/draggable_window.less";
@import "../utils/flame_graph/flame_graph.less";

.root {
    width: 100%;
    height: 100%;
}

.QRCode {
    horizontal-align: right;
    vertical-align: bottom;
    margin-bottom: 400px;
    margin-right: 100px;
    background-color: #ffffff;
    opacity: 0.6;

    &:hover {
        opacity: 1; 
    }
    &:active {
        opacity: 0.8;
    }
}